In [9]:
import pandas as pd
import re as re

In [4]:
data=pd.read_csv(r"C:\Users\ronob\Desktop\retail sales data sets\mall_data.csv")
df=pd.DataFrame(data)
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,15004.0,M-pesa,5/8/2022,Village Market
1,I317333,C111565,Male,21,Shoes,3,18005.1,Debit Card,12/12/2021,Garden City
2,I127801,C266599,Male,20,Clothing,1,3000.8,Cash,9/11/2021,Sarit Center
3,I173702,C988172,Female,66,Shoes,5,30008.5,M-pesa,16/05/2021,Junction
4,I337046,C189076,Female,53,Books,4,606.0,Cash,24/10/2021,Village Market
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,586.5,M-pesa,21/09/2022,Village Market
99453,I325143,C569580,Male,27,Food & Beverage,2,104.6,Cash,22/09/2021,Garden City
99454,I824010,C103292,Male,63,Food & Beverage,2,104.6,Debit Card,28/03/2021,Sarit Center
99455,I702964,C800631,Male,56,Technology,4,42000.0,Cash,16/03/2021,Thika Road
99456,I232867,C273973,Female,36,Souvenir,3,351.9,M-pesa,15/10/2022,Two Rivers

In [10]:
#cleaning invoice number
df['invoice_no']=df['invoice_no'].str.strip()
#checking for concistency 
pattern = r'^I\d+$'  # Example pattern for an "I" prefix followed by digits
consistency_check = all(re.match(pattern, invoice_id) for invoice_id in df['invoice_no'])
print("Consistency Check:", consistency_check)

Consistency Check: True

In [11]:
#standardising variables 
df['shopping_mall'] = df['shopping_mall'].str.strip().str.title()
df['payment_method'] = df['payment_method'].str.strip().str.title()
df['category'] = df['category'].str.strip().str.title()
df['gender'] = df['gender'].str.strip().str.title()

In [13]:
#checking for null values
null_rows = df[df.isnull().any(axis=1)]
print("Rows with Null Values:")
print(null_rows)
#verifying the absence of the null values
all_columns_null = df.isnull().any().any()

if all_columns_null:
    print("There are null values in the DataFrame.")
else:
    print("There are no null values in the DataFrame.")

Rows with Null Values:
Empty DataFrame
Columns: [invoice_no, customer_id, gender, age, category, quantity, price, payment_method, invoice_date, shopping_mall]
Index: []
There are no null values in the DataFrame.

In [14]:
# checking for Age Outliers
age_summary = df['age'].describe()
print("Age Summary:", age_summary)
# Handling Inconsistent Categorical Values
df['category'] = df['category'].str.strip().str.title()
df['payment_method'] = df['payment_method'].str.strip().str.title()
df['shopping_mall'] = df['shopping_mall'].str.strip().str.title()
df['gender'] = df['gender'].str.strip().str.title()
# Handling Data Format Consistency
df['invoice_date'] = pd.to_datetime(df['invoice_date'], dayfirst=True)

print(df.head())

Age Summary: count    99457.000000
mean        43.427089
std         14.990054
min         18.000000
25%         30.000000
50%         43.000000
75%         56.000000
max         69.000000
Name: age, dtype: float64
  invoice_no customer_id  gender  age  category  quantity    price  \
0    I138884     C241288  Female   28  Clothing         5  15004.0
1    I317333     C111565    Male   21     Shoes         3  18005.1
2    I127801     C266599    Male   20  Clothing         1   3000.8
3    I173702     C988172  Female   66     Shoes         5  30008.5
4    I337046     C189076  Female   53     Books         4    606.0

  payment_method invoice_date   shopping_mall
0         M-Pesa   2022-08-05  Village Market
1     Debit Card   2021-12-12     Garden City
2           Cash   2021-11-09    Sarit Center
3         M-Pesa   2021-05-16        Junction
4           Cash   2021-10-24  Village Market

In [15]:
#saving the cleaned data frame into a new csv
cleaned_filename = "Cleaned_Mall_Data.csv"
df.to_csv(cleaned_filename, index=False)  
print(f"Cleaned data saved to {cleaned_filename}")

Cleaned data saved to Cleaned_Mall_Data.csv